* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header {
    width: 100%;
    text-align: center;
    background: linear-gradient(to right,red,blue);
    font-size: 7vmax;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-background-clip: text;
    /* text-shadow: 1px 2px 3px black; */
}
#accessibility{
    font-size: 3vmin;
    color: white;
}
#musicSystem{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
}
.cont{
    border: 2px solid green;
    width: 40%;
    height: 40%;
}
.hello{
    /* border: 1px solid green; */
    background-color: white;
    border-radius: 5px;
    /* opacity: 0.8; */
    width: 150px;
    cursor: pointer;
    height: 100px;
    display: flex;
    background-size: cover;
    /* text-transform: lowercase; */
    /* background-position: center; */
    align-items: center;
    flex-wrap:wrap ;
    font-size: 20px;
    justify-content: center;
    /* background-color: brown; */
    transition: all ease 0.2s;
}

.hello:active{
    color: red;
    transform:scale(0.9);
}
/* Loader */
#loader{
    width: 100%;
    height: 100vh;
    background-color:grey ;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
    display: block;

}
#load{
    width: 10vw;
    margin: 0;
    padding: 0;
    height: 10vw;
    background-color: white;
    border: 4px solid white;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%,-45%);
    border-radius: 100%;
    border-top: 4px solid black;
    animation:1s ease-in-out infinite  rotate;
    
}
@keyframes rotate {
0%{
    transform: rotate(0deg);;
}
100%{
    transform:rotate(360deg) ;
}
    
}
